<!-- HEADER -->
<header class="header">
  <a href="/">
    <div id="avatar_background">
      <img src="/assets/images/site/avatar_jack.png" alt="avatar">
    </div>
  </a>
  <h1>JakeLong</h1>
  <p>freelance graphic designer & coder</p>
  <!-- NAV MENU -->
  <ul class="vs-nav">
    <!-- InstanceBeginEditable name="Menu-Content" -->
    <li><a href="#/about">about me</a></li>
    <li><a href="#/portfolio">portfolio</a></li>
    <li><a href="#/contact">contact</a></li>
    <li><a href="#/blog">blog</a></li>
    <li><a href="#/resume">resume</a></li>
    <!-- InstanceEndEditable -->
  </ul>
  <!-- NAV MENU -->
  <!-- SEARCH -->
  <div class="header-search">
    <form role="search" method="get" id="search-form" action="#">
      <input type="text" value="" name="s" id="search" placeholder="Enter Keyword">
      <input type="submit" id="search-submit" title="Search" value="→">
    </form>
  </div>
  <!-- SEARCH -->
</header>
<!-- HEADER -->
