<section id="contact" class="page">
    <div class="content">
        <!-- row -->
        <div class="row">
            <!-- column 6/12 -->
            <div class="col-md-6">
                <h2 class="section-title"><span><i class="icon-address-book"></i>LET'S GET IN TOUCH</span></h2>
                <!-- LETTER -->
                <div class="letter">
                    <h4 class="letter-title">JakeLong</h4>
                    <div class="stamp">
                        <img src="/assets/images/site/stamp-image_jack.png" alt="stamp">
                    </div>
                    <div class="letter-info">
                        <p><i class="icon-at"></i>kuongnp@gmail.com</p>
                        <p><i class="icon-phone"></i>123 456 78 99</p>
                        <p><i class="icon-location"></i>123 King Street, Melbourne Victoria 3000 Australia</p>
                    </div>
                </div>
                <!-- LETTER -->
                <h2 class="section-title"><span><i class="icon-paper-plane"></i>DROP ME A LINE</span></h2>
                <!-- .contact-form -->
                <div class="contact-form">
                    <form id="contact-form" action="send-mail.php" method="post">
                        <!-- enter mail subject here -->
                        <input type="hidden" name="subject" id="subject" value="You have a new message from cvCard!">
                        <p>
                            <label for="name">NAME</label>
                            <input type="text" name="name" id="name" class="required">
                        </p>
                        <p>
                            <label for="email">EMAIL</label>
                            <input type="text" name="email" id="email" class="required email">
                        </p>
                        <p>
                            <label for="message">MESSAGE</label>
                            <textarea name="message" id="message" class="required"></textarea>
                        </p>
                        <p>
                            <input type="submit" class="submit button primary" value="SEND">
                        </p>
                    </form>
                </div>
                <!-- .contact-form -->
            </div>
            <!-- column 6/12 -->
            <!-- column 6/12 -->
            <div class="col-md-6">
                <h2 class="section-title"><span><i class="icon-chat"></i>LET'S SOCIALIZE</span></h2>
                <!-- SOCIAL -->
                <ul class="social">
                    <li><a class="facebook" href="#"></a></li>
                    <li><a class="twitter" href="#"></a></li>
                    <li><a class="linkedin" href="#"></a></li>
                    <li><a class="google-plus" href="#"></a></li>
                    <li><a class="pinterest" href="#"></a></li>
                    <li><a class="github" href="#"></a></li>
                    <li><a class="behance" href="#"></a></li>
                    <li><a class="dribbble" href="#"></a></li>
                    <li><a class="instagram" href="#"></a></li>
                    <li><a class="lastfm" href="#"></a></li>
                    <li><a class="rss" href="#"></a></li>
                    <li><a class="vimeo" href="#"></a></li>
                    <li><a class="forrst" href="#"></a></li>
                    <li><a class="skype" href="#"></a></li>
                    <li><a class="picasa" href="#"></a></li>
                    <li><a class="youtube" href="#"></a></li>
                    <li><a class="flickr" href="#"></a></li>
                    <li><a class="tumblr" href="#"></a></li>
                    <li><a class="blogger" href="#"></a></li>
                    <li><a class="delicious" href="#"></a></li>
                    <li><a class="digg" href="#"></a></li>
                    <li><a class="friendfeed" href="#"></a></li>
                    <li><a class="wordpress" href="#"></a></li>
                    <li><a class="stack-overflow" href="#"></a></li>
                    <li><a class="foursquare" href="#"></a></li>
                    <li><a class="xing" href="#"></a></li>
                    <li><a class="weibo" href="#"></a></li>
                    <!--<li><a class="deviantart" href="#"></a></li>
                    <li><a class="soundcloud" href="#"></a></li>
                    <li><a class="fivehundredpx" href="#"></a></li>
                    <li><a class="slideshare" href="#"></a></li>-->
                </ul>
                <!-- SOCIAL -->
            </div>
            <!-- column 6/12 --><!-- column 6/12 -->



        </div>
        <!-- row -->



    </div>
</section>