<section id="about" class="page">
    <div class="content">
        <!-- row -->
        <div class="row">
            <!-- column 8/12 -->
            <div class="col-md-8">
                <h2 class="section-title"><span><i class="icon-guest"></i>A LITTLE ABOUT ME</span></h2>
                <!-- intro --><div class="intro">
                    <h2>
                        Hello. I am
                        <span class="rotate-words">
                            <span>an illustrator.</span>
                            <span>a writer.</span>
                            <span>a freelancer.</span>
                            <span>an inventor.</span>
                            <span>a wordpress fan.</span>
                            <span>a coffee lover.</span>
                        </span>
                        <br>
                        I live in a small town somewhere in the world.
                        <br>
                        I am passionated about <strong>minimalistic</strong> and flat design.
                    </h2>
                </div>
                <!-- intro -->
            </div>
            <!-- column 8/12 -->
            <!-- column 4/12 -->
            <div class="col-md-4">
                <h2 class="section-title"><span><i class="icon-twitter"></i>LATEST TWEETS</span></h2>
                <div id="latest-tweets" class="widget-twitter" data-twitter-name="pixelwarsdesign" data-tweet-count="1" data-include-retweets="false"></div>
            </div>
            <!-- column 4/12 -->
        </div>
    </div>
</section>