---
layout: single
---
<!-- WRAPPER -->
<div class="wrapper">
    <!-- InstanceBeginEditable name="Page-Content" -->
    <!-- .blog-posts -->
    <div class="blog-posts readable-content">

        {%- for post in paginator.posts -%}
        <!-- .post -->
        <article class="post type-post hentry">
            <!-- .entry-meta -->
            <footer class="entry-meta">
                <span class="post-format"></span>
                <span title="{{ post.date | date: "%Y" }}" class="entry-date"><span class="day">{{ post.date | date: "%d" }}</span>{{ post.date | date: "%b" }}</span>
            </footer>
            <!-- .entry-meta -->
            <!-- .entry-header -->
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                </h1>
            </header>
            <!-- .entry-header -->
            <!-- .featured-image -->
            <div class="featured-image">
                <img src="{{ post.image | default: "/assets/images/site/feature.jpg" | replace: ".jpg", "-720.jpg"  | absolute_url }}" alt="blog-image">
            </div>
            <!-- .featured-image -->
            <!-- .entry-content -->
            <div class="entry-content">
                {{ post.excerpt }}
                <a href="{{ post.url }}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
            </div>
            <!-- .entry-content -->
        </article>
        <!-- .post -->
        {%- endfor -%}
        <!-- post nav -->
        <nav class="navigation" role="navigation">
            {%- if paginator.next_page -%}
            <div class="nav-previous"><a href="{{ paginator.next_page_path  }}"><span class="meta-nav">←</span> Older posts</a></div>
            {% else %}
            <div class="nav-previous">&nbsp;</div>
            {% endif %}
            {% if paginator.previous_page %}
            <div class="nav-next"><a href="{{ paginator.previous_page_path }}">Newer posts<span class="meta-nav">→</span></a></div>
            {% else %}
            <div class="nav-next">&nbsp;</div>
            {% endif %}
        </nav>
        <!-- post nav -->
        <!-- post pagination -->
        <nav class="post-pagination">
            <!--<ul class="pagination">
          <li class="pagination-first"><a href="#"> First </a></li>
          <li class="pagination-prev"><a href="#" rel="prev"> « </a></li>
          <li class="pagination-num"><a href="#"> 1 </a></li>
          <li class="pagination-num current"><a href="#"> 2 </a></li>
          <li class="pagination-num"><a href="#"> 3 </a></li>
          <li class="pagination-next"><a href="#" rel="next"> » </a></li>
          <li class="pagination-last"><a href="#"> Last </a> </li>
        </ul>-->
        </nav>
        <!-- post pagination -->
    </div>
    <!-- .blog-posts -->
    <!-- InstanceEndEditable -->
</div>
<!-- WRAPPER -->
