---
layout: default
---

<!-- WRAPPER -->
<div class="wrapper">
    <!-- InstanceBeginEditable name="Page-Content" -->
    <!-- PAGE : ABOUT -->
    {%- include section_about.html -%}
    <!-- PAGE : ABOUT -->
    <!-- PAGE : PORTFOLIO -->
    {%- include section_portfolio.html -%}
    <!-- PAGE : PORTFOLIO -->
    <!-- PAGE : CONTACT -->
    {%- include section_contact.html -%}
    <!-- PAGE : CONTACT -->
    <!-- PAGE : BLOG -->
    {%- include section_blog.html -%}
    <!-- PAGE : BLOG -->
    <!-- PAGE : RESUME -->
    {%- include section_resume.html -%}
    <!-- PAGE : RESUME -->
    <!-- InstanceEndEditable -->
</div>
<!-- WRAPPER -->
